@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  background: #c8fa72;
}


.container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#text-input,
#voice-select {
  display: block;
  width: 90%;
  margin: 0 auto;
  border-radius: 10px;
  background: #fafafa;
  margin-bottom: 20px;
  font-size: inherit;
  padding: 8px;
  outline: none;
}

#voice-select {
  height: 40px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 18px;
  width: 100%;
  background: #333;
  border: 1px solid #000;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

.btn:hover {
  background: #000;
}

#pause-button,
#play-button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 18px;
  background: #333;
  border: 1px solid #000;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  margin: 5px; /* Add some margin to separate the buttons */
}

#pause-button:hover,
#play-button:hover {
  background: #000;
}